<!--all-weather-condition.html-->
<div class="container-fluid">
  <div class="container">

    <!-- Visible only on md lg -->

    <!-- 
    <h2 class="d-none d-md-block d-lg-block text-center text-secondary font-weight-bold mt-5 mb-3">BEST FOR ALL WEATHER
      CONDITIONS
    </h2>
    -->

    <!-- Visible only on small  -->
    <h3 class="d-block d-sm-none text-center text-secondary font-weight-bold mt-5 mb-3">BEST FOR ALL WEATHER CONDITIONS
    </h3>

  </div>

  <!-- Visible only on md lg -->
  <img class="d-none d-md-block d-lg-block img-fluid mt-5" src="/assets/images/sa-all-weathers-condition.jpg" alt="BEST FOR ALL WEATHER
      CONDITIONS" />
</div>