<!--arena-one-slide.html-->
<!-- hidden on small -->
<div class="d-none d-md-block d-lg-block">
    <div id="carouselSamuiArenaOne" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselSamuiArenaOne" data-slide-to="0" class="active"></li>
            <li data-target="#carouselSamuiArenaOne" data-slide-to="1"></li>
            <li data-target="#carouselSamuiArenaOne" data-slide-to="2"></li>

        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('/assets/images/samui_arena1_03.jpg')">
                <div class="carousel-caption">
                    <h1 class="display-3 intro-text">Our large Samui Arena filed (Arena 1), is a game fit for 7 aside of
                        nutty colours layout turf.
                    </h1>
                    <p class="lead">ARENA 1 L: 42m x W: 25m</p>

                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/assets/images/samui_arena1_02.jpg')">
                <div class="carousel-caption">
                    <h1 class="display-3 intro-text">Substitute bench area include of digital score board and a
                        controller for timing.

                    </h1>
                    <p></p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/assets/images/samui_arena1_01.jpg')">
                <div class="carousel-caption">
                    <h1 class="display-3 intro-text">
                        Samui Arena provide clean sport bibs and ball daily.
                    </h1>
                    <p></p>
                </div>
            </div>


        </div>
        <a class="carousel-control-prev" href="#carouselSamuiArenaOne" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselSamuiArenaOne" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>



<!-- visible xs -->
<div class="d-block d-sm-none">
    <!--banner-slide-visible-md.html-->
    <h1 class="text-center mt-5">ARENA 1</h1>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 mt-3">
            <div class="card align-center" style="width: 25rem; height: 24rem;">
                <img class="card-img-top" src="/assets/images/samui_arena1_01.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Filed Size</h5>
                    <p class="card-text">Our large Samui Arena filed (Arena 1), is a game fit for 7 aside of
                        nutty colours layout turf.
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mt-3 ">
            <div class="card" style="width: 25rem; height: 24rem;">
                <img class="card-img-top" src="/assets/images/samui_arena1_02.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bench & Score Board</h5>
                    <p class="card-text">Substitute bench area include of digital score board and a controller for
                        timing.
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mt-3 ">
            <div class="card" style="width: 25rem; height: 24rem;">
                <img class="card-img-top" src="/assets/images/samui_arena1_03.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sport Bibs</h5>
                    <p class="card-text">Samui Arena provide clean sport bibs and ball daily.
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
</div>