<!--banner-slide-visible-md.html-->
<div class="d-none d-sm-block">
  <div style="height: 81%;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner" style="height: 100%;">

        <div class="carousel-item active" style="height: 100%;">
          <a href="#Arena-01">
            <img class="d-block w-100" src="/assets/images/player-banner-01.jpg" alt="First slide" />
            <div class="carousel-caption d-none d-md-block">
              <h1 class="display-2 intro-text">NEVER MISS OUT ON THE ACTION!</h1>
              <p></p>
            </div>
          </a>
        </div>

        <div class="carousel-item" style="height: 100%;">
          <a href="#Arena-02">
            <img class="d-block w-100" src="/assets/images/player-banner-02.jpg" alt="Second slide" />
            <div class="carousel-caption d-none d-md-block">
              <h1 class="display-3 intro-text">
                We are the 1st professional turf on the Southern gulf island of Thailand since 2010.
              </h1>
              <p></p>
            </div>
          </a>
        </div>

        <div class="carousel-item" style="height: 100%;">
          <a href="#Rate">
            <img class="d-block w-100" src="/assets/images/sa-banner-04.jpg" alt="3nd slide" />
            <div class="carousel-caption d-none d-md-block text-center mx-auto">
              <h1 class="display-3 intro-text">Enjoying the game under the shade all day.</h1>
              <p></p>
            </div>
          </a>
        </div>

        <div class="carousel-item" style="height: 100%;">
          <a href="#Rate">
            <img class="d-block w-100" src="/assets/images/samui-areana-rate-wh-logo.jpg" alt="4th slide" />
            <div class="carousel-caption d-none d-md-block text-center mx-auto">
              <h1 class="display-3 intro-text">Our Best Rate</h1>
              <p></p>
            </div>
          </a>
        </div>

        <!-- Slide One - Set the background image for this slide in the line below -->

        <div class="carousel-item" style="background-image: url('/assets/images/samui-arena-rate.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Our Best Rate</h2>
            <p class="lead"></p>
          </div>
        </div>


        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>