<!--footer-new.html-->
<footer class="page-footer font-small blue-grey lighten-5" style="background-color: #0071bb; color: lightgrey;">

    <div style=" background-color: #0094da;">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="lead mb-0 text-white">Get connected with us on social networks!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic" href="https://www.facebook.com/samuiarena/" target="_balnk">
                        <i class="fa fa-facebook text-white mr-4"> </i>
                    </a>

                    <!--Instagram-->
                    <a class="ins-ic" href="https://instagram.com/samuiarena" target="_balnk">
                        <i class="fa fa-instagram text-white"> </i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-center mt-5" style="background-color: #0071bb; color: lightgrey;">
        <div class="text-center mb-5 pb-5">
            {{ template "sportmanship.html" .}}
        </div>
        <!-- Grid row -->
        <div class="row mt-3 dark-grey-texttext-center ">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mb-1">

                <!-- Content -->
                <a href="#Home" class="text-grey">
                    <h6 class="text-uppercase font-weight-bold">Home</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block d-none d-md-block d-lg-none mx-auto"
                        style="width: 60px;">
                </a>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1">

                <!-- Links -->
                <a href="#Arena-1" class="text-grey">
                    <h6 class="text-uppercase font-weight-bold">Arena 1</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block d-none d-md-block d-lg-none mx-auto"
                        style="width: 60px;">
                </a>


            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1">

                <!-- Links -->
                <a href="#Arena-2" class="text-grey">
                    <h6 class="text-uppercase font-weight-bold">Arena 2</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block d-none d-md-block d-lg-none mx-auto"
                        style="width: 60px;">
                </a>


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1">

                <!-- Links -->
                <a href="#Co-Space" class="text-grey">
                    <h6 class="text-uppercase font-weight-bold">Co-Space</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block d-none d-md-block d-lg-none mx-auto"
                        style="width: 60px;">
                </a>



            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1">

                <!-- Links -->
                <a href="#Facilities" class="text-grey">
                    <h6 class="text-uppercase font-weight-bold">Facilities</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block d-none d-md-block d-lg-none mx-auto"
                        style="width: 60px;">
                </a>



            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-1">

                <!-- Links -->
                <a href="#Rate" class="text-grey">
                    <h6 class="text-uppercase font-weight-bold">Rate</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block d-none d-md-block d-lg-none mx-auto"
                        style="width: 60px;">
                </a>

                <div class="text-left ">


                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <div class="row py-4 d-flex align-items-center">
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0">
                <!-- Links -->
                <!-- <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                <div class="text-left lead">

                    <p class="d-none d-sm-block">We are the 1st professional turf on the Southern gulf island of
                        Thailand
                        since 2010.
                    </p>

                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 ">

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0">
                <!-- Links -->
                <!-- <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                <div class="text-left ">
                    <p>
                        <i class="fa fa-home mr-1 d-none d-sm-block"></i> 59/23, Bophut, Koh Samui, Surat Thani 84320
                    </p>
                    <p>
                        <i class="fa fa-envelope dark-text mr-3"></i> samuiarena@gmail.com</p>
                    <p>
                        <i class="fa fa-phone-square mr-3"></i> + 66 85 795 8000</p>

                </div>
            </div>
            <!-- Grid column -->
        </div>

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->

    <div class="footer-copyright text-center  py-3 text-grey">
        Copyright © 2020 Samui Arena All Rights Reserved.
    </div>

    <!-- Copyright -->

</footer>
<!-- Footer -->