<!--footer.html-->
<div class="p-3"></div>
<div class="container-fluid text-center  mt-5 mb-5" style="background-color: #0071bb;">
  <span class="h1 p5">Connect With Us</span>
  <br />
  <span class="p5 text-primary">
    <span><a class="text-primary" href="mailto: samuiarena@gmail.com" target="_balnk">Email</a></span>
    -
    <span>
      <a class="text-primary" href="https://fb.me/samuiarena" target="_balnk">Facebook</a></span>
    - Instagram -
    <span>
      <a class="text-primary" href="https://www.samuiarena.com" target="_balnk">Webstie</a></span>
    -
    <span> <a class="text-primary" href="tel:+66857958000">Mobile</a></span>
  </span>
  <br />
</div>

<div class="container-fluid text-center">
  <div class="col-sm-12 small">Copyright Samui Arena Co.,Ltd. 2020</div>
</div>

{{ template "maps.html" .}} {{ template "footer-bottom-link.html" .}}