<!--google-reviews.html-->
<div class="row">
    <div class="col-4 p-5" style="opacity: .6;">
        <img class="img-fluid mb-3" src="/assets/images/samui-arena-google-reviews-01.png">
        <img class="img-fluid" src="/assets/images/samui-arena-google-reviews-02.png">
    </div>

    <div class="col-4 text-center">
        <img class="img-fluid" src="/assets/images/google-reviews-300x300.png">

        <div class="text-center mb-5">
            <a href="https://bit.ly/3e2loil" class="btn btn-primary mb-5 pl-4 pr-4" target="_blank"
                style="border-radius: 4px;">View
                Reviews</a>
            <a href="https://bit.ly/2BxSuJx" class="btn btn-primary mb-5 pl-4 pr-4" target="_blank"
                style="border-radius: 4px;">Write
                Reviews</a>
        </div>
    </div>
    <div class="col-4 p-5" style="opacity: .6;">
        <img class="img-fluid" src="/assets/images/samui-arena-google-reviews-03.png">
    </div>
</div>
</div>