<!--google-reviews.html-->
<div class="row">
    <div class="d-none d-md-block d-lg-block col-xs-12 col-sm-4 col-lg-4 p-5" style="opacity: .6;">
        <img class="img-fluid mb-3" src="/assets/images/samui-arena-google-reviews-01.png"
            alt="Samui Arena Google Reviews">
        <img class="img-fluid" src="/assets/images/samui-arena-google-reviews-02.png" alt="Samui Arena Google Reviews">
    </div>

    <div class="col-xs-12 col-sm-4 col-lg-4 text-center">
        <img class="img-fluid" src="/assets/images/google-reviews-300x300.png" alt="Samui Arena Google Reviews">

        <div class="text-center mb-5">
            <a href="https://bit.ly/3e2loil" class="btn btn-primary mb-5 pl-4 pr-4" target="_blank"
                style="border-radius: 4px;">View
                Reviews</a>
            <a href="https://bit.ly/2BxSuJx" class="btn btn-primary mb-5 pl-4 pr-4" target="_blank"
                style="border-radius: 4px;">Write
                Reviews</a>
        </div>
    </div>
    <div class="d-none d-md-block d-lg-block col-xs-12 col-sm-4 col-lg-4 p-5" style="opacity: .6;">
        <img class="img-fluid" src="/assets/images/samui-arena-google-reviews-03.png" alt="Samui Arena Google Reviews">
    </div>
</div>
</div>