<!--weather-widget.html-->
<div id="c425aee7e0f992b74d67822edbb6cd3b" class="ww-informers-box-854753">
  <p class="ww-informers-box-854754">
    <a href="https://world-weather.info/forecast/thailand/samui/"
      >https://world-weather.info</a
    ><br /><a href="https://world-weather.info/forecast/usa/austin_1/"
      >world-weather.info</a
    >
  </p>
</div>
<script
  type="text/javascript"
  charset="utf-8"
  src="https://world-weather.info/wwinformer.php?userid=c425aee7e0f992b74d67822edbb6cd3b"
></script>
<style>
  .ww-informers-box-854754 {
    -webkit-animation-name: ww-informers54;
    animation-name: ww-informers54;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 12px;
    font-family: Arial;
    line-height: 18px;
    text-align: center;
    background: transparent;
    color: #0071bb;
  }

  @-webkit-keyframes ww-informers54 {
    0%,
    80% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes ww-informers54 {
    0%,
    80% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>
