<html lang="en">

{{ template "layout-header.html" .}}

<body>
    {{ template "navbar.html" .}}
    {{ template "banner-top.html" .}}
    <main role="main" class="container-fluid">
            <div class="mt-5 pt-5">
                <h1 class="text-center">Welcome Samui Arena Official Website</h1>
                <p class="lead">                   
                </p>
                <br />
                <br>
                <p class="lead text-center">
                   
                </p>
                <br />
                <br />
                <br />
                <br />
                </p>

                <div class="container">
                    <p class="lead">
                       
                        <br />
                        <br>
                    <p class="lead text-center">
                        

                    </p>
                </div>
            </div>
            </p>
       
        </div>
    </main>

  
</body>

{{ template "layout-footer.html" .}}
</html>