body {
  min-height: 75rem;
  /* padding-top: 4.5rem; */
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .navbar {
      position: relative;
    } */
.brand {
  /* position: absolute; */
  left: 50%;
  margin-left: -50px !important; /* 50% of your logo width */
  display: block;
}

.banner-cover {
  background-size: cover;
}

.bg-light {
  background: transparent !important;
  color: whitesmoke !important;
  font-weight: 600;
}

.bg-light.scrolled {
  background: #0071bb !important;
}

.fa.fa-phone {
  font-size: 1.5rem;
}

.nav-link {
  color: whitesmoke !important;
}

.nav {
  color: whitesmoke !important;
}

.navbar-toggler {
  size: 0.5rem;
}
.navbar-toggler-icon {
  size: 0.5rem;
}
.footer-bg-blue {
  background: #0071bb;
  height: 450px;
}

.color-wh {
  color: whitesmoke !important;
}

.hx450px-grey {
  height: 450px;
  background: #999999;
}
.hx450px {
  height: 450px;
  /* background: #999999; */
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
