* {
  border-radius: 0 !important;
}

body {
  /* height: 100vh; */
  min-height: 75rem;
  font-family: 'Montserrat', sans-serif;
  /* padding-top: 4.5rem; */
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.intro-text {
  font-family: 'Bebas Neue', cursive;
}

/* .navbar {
      position: relative;
    } */
.brand {
  /* position: absolute; */
  left: 50%;
  margin-left: -50px !important; /* 50% of your logo width */
  display: block;
}

.banner-cover {
  background-size: cover;
}

.bg-light {
  background: transparent !important;
  color: whitesmoke !important;
  font-weight: 600;
}

.bg-light.scrolled {
  background: #0071bb !important;
}

.text-primary {
  color:  #0071bb !important
}

.fa.fa-phone {
  font-size: 1.5rem;
  padding-top: 2px;
}

.fa.fa-phone-square {
  font-size: 1.5rem;
  padding-top: 2px;
}

.fa.fa-envelope {
  padding-top: 2px;
  font-size: 1.5rem;
}

.fa.fa-envelope-o {
  padding-top: 2px;
  font-size: 1.5rem;
}

.fa.fa-home {
  font-size: 1.8rem;
  padding-top: 2px;
}

.fa.fa-instagram {
  font-size: 2.0rem;
}
.fa.fa-facebook {
  font-size: 2.0rem;
}

.img-size-280 {
  width: 116px;
}
.co-space-bg {
  background-image: url("/assets/images/samui-arena-fl1-bg.png");
  background-size: cover;
}


a:link, a:visited, a:hover, a:active { 
  color: white;
}
.nav-link {
  color: whitesmoke !important;
}

.nav {
  color: whitesmoke !important;
}

.navbar-toggler {
  size: 0.5rem;
}
.navbar-toggler-icon {
  size: 0.5rem;
}
.footer-bg-blue {
  background: #0071bb;
  height: 450px;
}

.color-wh {
  color: whitesmoke !important;
}

.hx450px-grey {
  height: 450px;
  background: #999999;
}
.hx450px {
  height: 450px;
  /* background: #999999; */
}

.sa-rate {
  background: cover;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@font-face {
font-family: "DB Airy";
src: url("/assets/fonts/");
src: url("CustomFont.woff") format("woff"),
url("CustomFont.otf") format("opentype"),
url("CustomFont.svg#filename") format("svg");
}

